*{
  box-sizing: border-box;

}

.container{
  margin-left: auto;
}

.card{
  position: relative;
  display: inline-block;
}

.sales{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;


}

.red{
  background-color: red;
}

.heart{
  position: absolute;
  bottom: 0;
  left: 50%;

}
