*{
  box-sizing: border-box;
}

body{
  text-align: center;
}



.card{
  position: relative;
  display: inline-block;
}

.sales{
  position: absolute;
  top: 0;
  right: 0;
}

/* teniamo i colori fuori dal sales per poter migliorare la leggibilità */
.green{
  background-color: rgba(0 128 0 / 64%);
  font-weight: 800;
}
.red{
  background-color: red;
  font-weight: 800;
}

.heart{
  position: absolute;
  bottom: 30px;
  display: none;
  width: 100%;
  text-align: center;
  height: 20px;
  font-size: 30px;


}

.row{
  margin-top: 30px;
}

.card:hover .heart{
  color:red;
  display: block;
}
